@model OgrenciTakipEt.Models.Ogrenci
@{
    ViewBag.Title = "IndexUnutma";
}




<table>
    <tr>
        <td></td>
        <td align="center"><h3>Az önce Resmi Seçmeyi Unuttunuz</h3></td>
    </tr>
    <tr>
        <td></td>
        <td align="center"><h3>Bu Sefer Resmi Seçmeyi Unutmayınız</h3></td>
    </tr>
    <tr>
        <td></td>
        <td align="center"><h3><a href="~/Home/index">Tekrar Giiriş Yapmak İçin Tıklayınız</a></h3></td>
    </tr>

</table>
<br /><br />
