@model OgrenciTakipEt.Models.Bolumler

@{
    ViewBag.Title = "Tesekkur";
}

<h2>Kayıt Başarı ile gerçekleşmiştir.</h2>
<h2>Teşekkür ederiz..</h2>
<br />
<br />
    Eklenen Bölüm Adı:  @Model.Bolum
    <br /><br /><br />

    <table cellspacing="20">
        <tr>
            <td><a href="~/Home/index">Ana Sayfaya Git</a></td>

        </tr>
    </table>